.btn {
  height: 45px;
  padding: 10px 30px;
  margin: 0 0 10px;
  display: block;
  background: lightgreen;
  color: black;
  border: none;
  outline: none;
  text-align: center;

  &--big {
    font-size: 1.5em;
    height: 60px;
  }

  &--small {
    font-size: 0.8em;
    height: 35px;
  }

  &--primary {
    background: cyan;
  }

  &--secondary {
    background: lightgrey;
  }

  &--disabled {
    color: grey;
    background: darken(grey, 10%);

  &--warning {
    background: yellow;
  }
}
