.checkbox {
  margin: 0 10px 12px 0;
  position: relative;
  width: 25px;
  height: 25px;
  display: inline-block;
  float: left;

  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    z-index: 1;
    opacity: 0;
    display: block;
  }

  &--disabled {
    .checkbox {
      background: grey;
    }
  }

  &:focus {
    .checkbox {
      background: darken(white, 10%);
    }
  }

  &--error {
    input {
      background: red;
        }
      }
    }
  }
}
