.input{
  display: block;
  outline: none;
  height: 45px;
  width: 100%;
  background: lightgrey;
  border: 1px solid black;
  margin: 0 0 10px 0;
  text-align: left;
  margin-bottom: 20px;
  &--disabled{
    background: white;
    border: 1px solid white;
  }
  &--readonly{
    background: blue;
    border: 1px solid blue;
  }
  &--error{
    background: red;
    border: 1px solid red;
    color: red;
  }
}
